@using MVC_PustokPlus.Helpers;
@model PaginationPages;
@{
    Layout = null;
}

<nav aria-label="Page navigation example">
    <ul id="prod-pag" class="pagination">
        <li class="page-item  @(Model.HasPrev ? "" : "disabled")">
            <a class='page-link' onclick="pagination(event)" id="@Model.ParentTag"
            asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.CurrentPage - 1)" asp-route-count="@Model.ItemsPerPage">Previous</a>
        </li>
        <li class="page-item @(Model.HasNext ? "" : "disabled")">
            <a class="page-link" onclick="pagination(event)" id="@Model.ParentTag"
            asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.CurrentPage + 1)" asp-route-count="@Model.ItemsPerPage">Next</a>
        </li>
        
        @for (int i = 1; i < Model.CurrentPage; i++) {
        <li class="page-item">
            <a class="page-link" onclick="pagination(event)" id="@Model.ParentTag"
            asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@i" asp-route-count="@Model.ItemsPerPage">@i</a>
        </li>
        }

        <li class="page-item active">
            <a class="page-link" onclick="pagination(event)" id="@Model.ParentTag"
            asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@Model.CurrentPage" asp-route-count="@Model.ItemsPerPage">@Model.CurrentPage</a>
        </li>
        
        @for (int i = Model.CurrentPage + 1; i <= Model.TotalPages; i++) {
        <li class="page-item">
            <a class="page-link" onclick="pagination(event)" id="@Model.ParentTag"
            asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@i" asp-route-count="@Model.ItemsPerPage">@i</a>
        </li>
        }
    </ul>
</nav>
